* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Ubuntu";
  font-size: 14px;
}

header .background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86%;
  max-width: 550px;
  height: auto;
  user-select: none;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

footer {
  position: absolute;
  top: 100%;
  width: 100%;
}

footer .post {
  background-color: #f6f6f6;
  color: #424242;
  width: 100%;
  padding: 50px 0;
  font-size: 22px;
  font-weight: 300;
  text-align: justify;
}

footer .post .content {
  width: 80%;
  margin: 0 auto;
}

footer .post .title {
  font-size: 54px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}

footer .post:nth-child(2n) {
  background-color: #242424;
  color: #f6f6f6;
}

footer .copyright {
  background-color: #242424;
  border-top: 3px solid #424242;
  color: #f6f6f6;
  font-size: 16px;
  text-align: center;
  padding: 50px 10%;
}

@media (max-width: 650px) {
  footer .post { font-size: 19px; }
  footer .post .title { font-size: 42px; }
}

@media (max-width: 450px) {
  footer .post { font-size: 16px }
  footer .post .title { font-size: 32px; }
}