* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
}

header .background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  height: auto;
  user-select: none;
}