div#container
{
   width: 1000px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #FFFFFF;
   text-decoration: none;
}
a:hover
{
   color: #F5F5F5;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_PageHeader
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #B8860B;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#PageHeader
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#PageHeader > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#PageHeader > .row > .col-1, #PageHeader > .row > .col-2, #PageHeader > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#PageHeader > .row > .col-1, #PageHeader > .row > .col-2, #PageHeader > .row > .col-3
{
   float: left;
}
#PageHeader > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#PageHeader > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: center;
}
#PageHeader > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: right;
}
#PageHeader:before,
#PageHeader:after,
#PageHeader .row:before,
#PageHeader .row:after
{
   display: table;
   content: " ";
}
#PageHeader:after,
#PageHeader .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#PageHeader > .row > .col-1, #PageHeader > .row > .col-2, #PageHeader > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon1
{
   background-color: #B8860B;
   background-image: none;
   border: 0px solid #454545;
   text-align: center;
   margin: 0;
   padding: 15px 15px 15px 15px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: #B8860B;
   background-image: none;
   border: 0px solid #454545;
}
#FontAwesomeIcon1
{
   height: 40px;
   width: 40px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 27px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #B7B7B7;
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: left;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#PanelMenu1_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#PanelMenu1_overlay
{
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #000000;
   opacity: 0.2;
   z-index: 9998;
}
#PanelMenu1_markup li a
{
   color: #F7F7F7;
   border: 0px solid #2E2E2E;
   background-color: #B8860B;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
}
#wb_PanelMenu1 a
{
   color: #F7F7F7;
   border: 0px solid #2E2E2E;
   background-color: #B8860B;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
}
#PanelMenu1_markup li a:hover
{
   color: #454744;
   background-color: #B7B7B7;
   border: 0px solid #2E2E2E;
}
#wb_PanelMenu1 a:hover
{
   color: #454744;
   background-color: #B7B7B7;
   border: 0px solid #2E2E2E;
}
#PanelMenu1_panel
{
   background-color: #B8860B;
   overflow-y: auto;
}
#PanelMenu1
{
   padding-right: 48px;
}
#PanelMenu1:after
{
   position: absolute;
   top: 50%;
   right: 16px;
   width: 32px;
   height: 32px;
   margin-top: -16px;
   content: "\f0c9";
   display: inline-block;
   font-family: FontAwesome;
   font-size: 32px;
   line-height: 32px;
}
#PanelMenu1
{
   line-height: 70px;
   width: 15px;
   height: 70px;
   position: absolute;
   z-index: 999;
}
#PanelMenu1_markup ul li i
{
   font-size: 32px;
   padding: 0px 10px 0px 0px;
   vertical-align: middle;
   width: 32px;
}
#PanelMenu1_markup span
{
   display: inline-block;
   height: 32px;
   vertical-align: middle;
   line-height: 32px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 15px 0px 15px 0px;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
